/* NAV */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
}

.logo {
  color: whitesmoke;
  font-size: 30px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.nav-ul li a {
  display: inline-block;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-ul li a:hover {
  color: #b01e63;
}

/*button*/
.hamburger {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Media Query*/
@media (max-width: 700px) {
  .btn {
    width: 100%;
  }
  .logo {
    width: 80px;
  }
  .nav-ul li a {
    padding: 10px;
  }
  .nav-ul {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

body {
  font-family: Helvetica, sans-serif;
  background: #fff;
  line-height: 1.6;
}

#main {
  background: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main h1 {
  font-size: 60px;
  color: white;
}

#main p {
  color: white;
}

#section #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5em;
}

#section #about .article-abt {
  padding: 3em;
}

#section #about img {
  width: 100%;
}

#section #cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section #cards img {
  width: 100%;
}

#section #cards .card {
  padding: 3em;
}

#footer {
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

#footer #social-link {
  list-style: none;
}

#footer #social-link a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

#footer #social-link a:hover {
  color: #b01e63;
}
/*# sourceMappingURL=styles.css.map */